<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="shortcut icon" type="image/icon" href="/base/static/images/favo.ico" /> -->
    {% load staticfiles %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" type='text/css' href="{% static 'css/flat-ui.min.css' %}" />
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}" />
    {% block import %}{% endblock %}
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/flat-ui.min.js' %}"></script>
    {% block topscript %}{% endblock %}
</head>

<body>
    <header>{% block header %}{% endblock %}</header>
    <nav class="navbar navbar-default navbar-fixed-top">
    {% block nav %}
        <div class="container" >
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'base:index' %}">ZouZou</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                {% block navDetail %}
                    <li class="active"><a href="{% url 'base:index' %}">首页</a></li>
                    <li><a href="{% url 'travel:travels' %}">我的走走</a></li>
                    <li><a href="{% url 'base:index' %}">随便看看</a></li>
                    <li><a href="{% url 'travel:fans' %}">好友</a></li>
                {% endblock %}
                </ul>
                <form class="navbar-form form-search navbar-left">  
                    <div class="input-append">  
                        <input type="text" class="form-control white">  
                        <button type="submit" class="btn">搜索</button>  
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li><a href="{% url 'travel:travels' %}">{{user.username}}</a></li>
                    {% endif %}
                    <li><a href="{% url 'accounts:logout' %}">注销</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
    </nav>
    <main>{% block main %}hello{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
    {% block script %}{% endblock %}
</body>
</html>