{% extends "base.html" %}

{% block title %}走走{% endblock %}

{% block import %}
{% load staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}" />
{% endblock %}

{% block topscript %}
{% load staticfiles %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=jy5LGRjfenc42kskts4xzRDT"></script>
<script type="text/javascript" src="{% static 'js/mapCreator.js' %}"></script>
{% endblock %}

{% block navDetail %}
<li class="active"><a href="{% url 'base:index' %}">首页</a></li>
<li><a href="{% url 'travel:travels' %}">我的走走</a></li>
<li><a href="{% url 'base:index' %}">随便看看</a></li>
<li><a href="{% url 'travel:follows' %}">好友</a></li>
{% endblock %}

{% block main %}
<div class="container-fluid main">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-7"> 
            <div class="mapPanal">
                <div class="map" id="allmap"></div>
                <div class="map-info"><span>走过：<a href="#">1</a> 大洲 &nbsp;&nbsp;<a href="#">3</a> 国家 &nbsp;&nbsp;<a href="#">21</a> 城市</span></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="rightPanal">
                <ul class="nav nav-tabs">
                    <li id='mine' role="presentation" class="active"><a href="" name="mine" onclick="return change(this.name)">我的消息</a></li>
                    <li id='travel' role="presentation"><a href="#" name="travel" onclick="return change(this.name)">本次旅行</a></li>
                    <li id='new' role="presentation"><a href="#" name="new" onclick="return change(this.name)">最新动态</a></li>
                    <input id="curPage" type="hidden" value="mine" />
                </ul>

                <div class="mine">
                    <div class="mine-infos">
                        <div class="mine-top">
                            <div class="mine-head"><img src="{% static 'images/head.jpg' %}"></div>
                            <div class="mine-name"><span>Zouzou</span><a href="#">编辑资料</a></div>
                            <div class="mine-what"><p>只要用心 在哪里都是行走</p></div>
                        </div>
                        <div class="mine-bottom">
                            <div class="mine-records"><span>记录：22</span></div>
                            <div class="mine-following"><span>关注：15</span></div>
                            <div class="mine-fans"><span>粉丝：99</span></div>
                        </div>
                    </div>
                    <div class="mine-messages">
                        <ul>
                            <li class="mine-comment">
                                <a href="#">
                                    <span class="mine-messages-icon"><img src=""></span>
                                    <span class="mine-messages-txt">评论</span>
                                    <span class="mine-messages-number">2</span>
                                </a>
                            </li>
                            <li class="mine-favorite">
                                <a href="#">
                                    <span class="mine-messages-icon"><img src=""></span>
                                    <span class="mine-messages-txt">收藏</span>
                                    <span class="mine-messages-number">33</span>
                                </a>
                            </li>
                            <li class="mine-like">
                                <a href="#">
                                    <span class="mine-messages-icon"><img src=""></span>
                                    <span class="mine-messages-txt">喜欢</span>
                                    <span class="mine-messages-number">19</span>
                                </a>
                            </li>
                            <li class="mine-letter">
                                <a href="#">
                                    <span class="mine-messages-icon"><img src=""></span>
                                    <span class="mine-messages-txt">私信</span>
                                    <span class="mine-messages-number">1</span>
                                </a>
                            </li>
                            <li class="mine-notice">
                                <a href="#">
                                    <span class="mine-messages-icon"><img src=""></span>
                                    <span class="mine-messages-txt">通知</span>
                                    <span class="mine-messages-number"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="travel">
                    <div class="publish">
                        <textarea rows="3" cols="22"></textarea>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                        <button class="btn btn-default pull-right btns">发布</button>
                    </div>

                    <div class="timeline">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record"></i></a></div>
                                <div class="content">
                                    <div class="imgDisplay">
                                        <img src="{% static 'images/1.jpg' %}" />
                                    </div>
                                    <p>Happiness depends not only on food and clothing, but also clear water and blue sky.</p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record"></i></a></div>
                                <div class="content">
                                    <div class="imgDisplay">
                                        <img src="{% static 'images/2.jpg' %}" />
                                    </div>
                                    <p>骑行纳帕海一路看到有烧烤野营放风筝踢足球的，还有艺术家！跑上去搭讪居然还是老乡！西安美院的！会画画的人简直太酷了！</p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record"></i></a></div>
                                <div class="content">
                                    <div class="imgDisplay">
                                        <img src="{% static 'images/3.jpg' %}" />
                                    </div>
                                    <p>风马藏地，以歌取暖。</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- <button class="btn btn-default btns" id="end">结束旅行</button> -->
                    <button class="btn btn-link" id="more">查看更多</button>
                </div>

                <div class="new">
                    <ul>
                        <li>
                            <div class="new-head"><img src="{% static 'images/psb.jpg' %}"></div>
                            <div class="new-name"><span>艾斯比</span></div>
                            <div class="new-content">
                                <div class="content">
                                    <div class="imgDisplay">
                                        <img src="{% static 'images/2.jpg' %}" />
                                    </div>
                                    <p>骑行纳帕海一路看到有烧烤野营放风筝踢足球的，还有艺术家！跑上去搭讪居然还是老乡！西安美院的！会画画的人简直太酷了！</p>
                                </div>
                            </div>
                            <div class="new-time"></div>
                        </li>
                        <li>
                            <div class="new-head"><img src="{% static 'images/psb.jpg' %}"></div>
                                <div class="new-name"><span>艾斯比</span></div>
                                    <div class="new-content">
                                    <div class="content">
                                    <div class="imgDisplay">
                                        <img src="{% static 'images/2.jpg' %}" />
                                    </div>
                                    <p>骑行纳帕海一路看到有烧烤野营放风筝踢足球的，还有艺术家！跑上去搭讪居然还是老乡！西安美院的！会画画的人简直太酷了！</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="new-head"><img src="{% static 'images/psb.jpg' %}"></div>
                                <div class="new-name"><span>艾斯比</span></div>
                                <div class="new-content">
                                    <div class="content">
                                    <div class="imgDisplay">
                                        <img src="{% static 'images/2.jpg' %}" />
                                    </div>
                                    <p>骑行纳帕海一路看到有烧烤野营放风筝踢足球的，还有艺术家！跑上去搭讪居然还是老乡！西安美院的！会画画的人简直太酷了！</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="new-more"><a href="#">查看更多</a></div>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function change(name) {
        var curPage = $("#curPage").val();
        if(name === curPage)
            return false;
        $('#' + curPage).removeClass("active");
        $('#' + name).addClass("active");
        $('#curPage').val(name);
        $("." + curPage).hide();
        $("." + name).show();
        return false;
    }
    //$('.mine').hide();
    $('.new').hide();
    $('.travel').hide();
</script>
{% endblock %}