{% extends "base.html" %}

{% block title %}我的收藏{% endblock %}

{% block import %}
{% load staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'css/posts.css' %}" />
<link rel="stylesheet" type='text/css' href="{% static 'css/collections.css' %}" />
<link rel="stylesheet" type='text/css' href="{% static 'css/right_side_bar.css' %}" />
{% endblock %}


{% block navDetail %}
<li><a href="{% url 'base:index' %}">首页</a></li>
<li><a href="{% url 'travel:travels' %}">我的走走</a></li>
<li class="active"><a href="{% url 'travel:collections' %}">我的收藏</a></li>
<li><a href="{% url 'travel:follows' %}">好友</a></li>
{% endblock %}

{% block main %}
<div class="container">
<div style="width: 100%; height: 60px;"></div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <nav class="navbar navbar-default navbar-embossed my-favorite" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand">我的收藏</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <form class="navbar-form navbar-right" action="#" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn">
                                        <span class="fui-search"></span>
                                    </button>
                                </span>
                                <input class="form-control" id="navbarInput-01" type="search" placeholder="搜索" />
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
    {% for item in travelItems %}
    {% if forloop.first %}
        <div class="col-xs-4 col-xs-offset-1">
    {% else %}
        <div class="col-xs-4">
    {% endif %}
            <div class="panel panel-default posts">
                <div class="panel-body">
                    <img src="{% static 'images/default-avatar.png' %}" class="post-user-image" alt="头像">
                    <div class="post-user-name">{{ item.travel.user.username }}</div>
                    <div class="post-tag-location">
                        <span class="fui-location"></span>
                        <a href=""><span>{{ item.country }}</span></a>
                        <a href=""><span>{{ item.city }}</span></a>
                    </div>
                    <div class="post-tag post-tag-time">
                        <span class="fui-time"></span>
                        <a href="#"><span>{{ item.time|date:'Y-m-d H:i' }}</span></a>
                    </div>
                    <div style="float: left">
                        <div>
                            <img class="img-responsive" src="{{ item.picture.url }}" />
                        </div>
                        <div>
                            <p>{{ item.content }}</p>
                        </div>
                        <div>
                            <span>赞：{{ item.favour }}</span>
                            <span>评论：{{ item.comments }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">取消收藏</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">评论</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">赞</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-xs-3">
            <!-- right-info-bar -->
            <div>
                <div class="share mrl">
                    <ul>
                        <li><div class="head"><span>热门收藏</span></div></li>
                        <li><a href=""><span class="fui-heart"></span>拉萨。。。</a></li>
                        <li><a href=""><span class="fui-heart"></span>中国那么大，我想去看看</a></li>
                        <li><a href=""><span class="fui-heart"></span>印象云南。。。</a></li>
                    </ul>
                </div>
            </div>
            <!-- right-info-bar -->
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/collections.js' %}"></script>
{% endblock %}