{% extends "base.html" %}

{% block title %}我的关注{% endblock %}

{% block import %}
{% load staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'css/follows.css' %}" />
{% endblock %}


{% block navDetail %}
<li><a href="{% url 'base:index' %}">首页</a></li>
<li><a href="{% url 'travel:travels' %}">我的走走</a></li>
<li><a href="{% url 'base:index' %}">随便看看</a></li>
<li class="active"><a href="{% url 'travel:follows' %}">好友</a></li>
{% endblock %}

{% block main %}
<div class="container-fluid main">
      
    <div class="right_container">


      <div class="friend_message">
        <div class="friend_information">
          <img src="img/user/wq.png" width=70px height=70px>
          <a href="#">WQ</a>
        </div>
        <div class="friend_title">
          最新动态
        </div>
        
        <div class="friend_mood">
          <div class="mood_message">
            <div class="mood_picture">
              <img src="img/5.jpg" width=250px height=180px>
            </div>

            <div class="mood_artical">
              <span>分享图片</span>
              <p></p>
            </div>
            
            <div class="friend_time">
                <span>2015-05-01</span>
            </div>

            <div class="friend_location">
               <a href="#">大理三月好风光酒店</a>
            </div>

            <div class="friend_comment">
                <span>评论（<a href="#">10</a>）赞（<a href="#">30</a>）</span>
            </div>
          </div>


          <div class="mood_message">
            <div class="mood_picture">
              <img src="img/6.jpg" width=250px height=180px>
            </div>

            <div class="mood_artical">
              <span>分享图片</span>
            </div>

            <div class="friend_time">
                <span>2015-05-01</span>
            </div>

            <div class="friend_location">
               <a href="#">大理三月好风光酒店</a>
            </div>

            <div class="friend_comment">
                <span>评论（<a href="#">10</a>）赞（<a href="#">30</a>）</span>
            </div>
          </div>

          <div class="mood_messagel">
            <div class="mood_picture">
              <img src="img/4.jpg" width=250px height=180px>
            </div>

            <div class="mood_artical">
              <span>分享图片</span>
            </div>

            <div class="friend_time">
                <span>2015-05-01</span>
            </div>

            <div class="friend_location">
               <a href="#">大理三月好风光酒店</a>
            </div>

            <div class="friend_comment">
                <span>评论（<a href="#">10</a>）赞（<a href="#">30</a>）</span>
            </div>
          </div>
        </div>
        
        
      </div>



      <div class="friend_message">
        <div class="friend_information">
          <img src="img/user/wh.jpg" width=70px height=70px>
          <a href="#">WH</a>
        </div>
        <div class="friend_title">
          最新动态
        </div>
        
        
        <div class="friend_mood">
          <div class="mood_message">
            <div class="mood_picture">
              <img src="img/1.jpg" width=250px height=180px>
            </div>

            <div class="mood_artical">
              <span>分享图片</span>
              <p></p>
            </div>
            
            <div class="friend_time">
                <span>2015-05-01</span>
            </div>

            <div class="friend_location">
               <a href="#">青藏高原</a>
            </div>

            <div class="friend_comment">
                <span>评论（<a href="#">10</a>）赞（<a href="#">30</a>）</span>
            </div>
          </div>


          <div class="mood_message">
            <div class="mood_picture">
              <img src="img/2.jpg" width=250px height=180px>
            </div>

            <div class="mood_artical">
              <span>分享图片</span>
            </div>

            <div class="friend_time">
                <span>2015-05-01</span>
            </div>

            <div class="friend_location">
               <a href="#">青藏高原</a>
            </div>

            <div class="friend_comment">
                <span>评论（<a href="#">10</a>）赞（<a href="#">30</a>）</span>
            </div>
          </div>

          <div class="mood_messagel">
            <div class="mood_picture">
              <img src="img/3.jpg" width=250px height=180px>
            </div>

            <div class="mood_artical">
              <span>分享图片</span>
            </div>

            <div class="friend_time">
                <span>2015-05-01</span>
            </div>

            <div class="friend_location">
               <a href="#">青藏高原</a>
            </div>

            <div class="friend_comment">
                <span>评论（<a href="#">10</a>）赞（<a href="#">30</a>）</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
