{% extends "base.html" %}

{% block title %}我的走走{% endblock %}

{% block import %}
{% load staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'css/travels.css' %}" />
{% endblock %}


{% block navDetail %}
<li><a href="{% url 'base:index' %}">首页</a></li>
<li class="active"><a href="{% url 'travel:travels' %}">我的走走</a></li>
<li><a href="{% url 'travel:collections' %}">我的收藏</a></li>
<li><a href="{% url 'travel:follows' %}">好友</a></li>
{% endblock %}

{% block main %}
<div class="container content">
    <div class="timeline">
        <ul class="timeline">
        {% for travel in travels %}
            <li class="row">
                <div class="col-md-1">
                    <div class="begin">{{ travel.startDate|date:'Y-m-d' }}</div>
                    <div class="end">{{ travel.endDate|date:'Y-m-d' }}</div>
                    <div class="line-time"></div>
                </div>
                <div class="col-md-1" style=''>
                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-record"></i></a></div> 
                </div>
                <div class="col-md-10 row content">
                    <div style="overflow:hidden;zoom:1">
                        {% for item in travel.items %}
                        <div class="imgDisplay col-md-4">
                            <img src="{{ item.picture.url }}" />
                            <p>{{ item.content|slice:'8' }}...</p>
                            <p class="thisTime">{{ item.time|date:'Y-m-d f' }}</p>
                        </div>
                        {% endfor %}
                        <div class="col-md-12">
                            <p style="position:absolute"><strong>{{ travel.items|length }}个记录({% if travel.finish %}已结束{% else %}未结束{% endif %})</strong></p>
                            <p style="text-align:center"><a href="{% url 'travel:travelDetail' travel.id %}">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
{% load staticfiles %}
<script src="{% static 'js/travels.js' %}"></script>
{% endblock %}