{% extends "base.html" %}

{% block title %}我的走走{% endblock %}

{% block import %}
{% load staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'css/travels.css' %}" />
{% endblock %}


{% block navDetail %}
<li><a href="{% url 'base:index' %}">首页</a></li>
<li class="active"><a href="{% url 'travel:travels' %}">我的走走</a></li>
<li><a href="{% url 'base:index' %}">随便看看</a></li>
<li><a href="{% url 'travel:follows' %}">好友</a></li>
{% endblock %}

{% block main %}
<div class="container content">
    <div class="timeline">
        <ul class="timeline">
            <li class="row">
                <div class="col-md-1">
                    <div class="begin">2015-5-4</div>
                    <div class="end">2015-4-27</div>
                    <div class="line-time"></div>
                </div>
                <div class="col-md-1" style=''>
                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-record"></i></a></div> 
                </div>
                <div class="col-md-10 row content">
                    <div style="overflow:hidden;zoom:1">
                        <div class="imgDisplay col-md-4">
                            <img src="img/1.jpg" />
                            <p>Happiness depends not only on food and clothing, but also clear water and blue sky.</p>
                            <p class="thisTime">5月1日 15:30</p>
                        </div>
                        <div class="imgDisplay col-md-4">
                            <img src="img/2.jpg" />
                            <p>骑行纳帕海一路看到有烧烤野营放风筝踢足球的，还有艺术家！跑上去搭讪居然还是老乡！西安美院的！会画画的人简直太酷了！</p>
                            <p class="thisTime">4月30日 10:00</p>
                        </div>
                        <div class="imgDisplay col-md-4">
                            <img src="img/3.jpg" />
                            <p>风马藏地，以歌取暖。</p>
                            <p class="thisTime">4月29日 16:10</p>
                        </div>
                        <div class="col-md-12">
                            <p style="position:absolute"><strong>15记录</strong></p>
                            <p style="text-align:center"><a>查看详情</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="row">
                <div class="col-md-1">
                    <div class="begin">2015-5-4</div>
                    <div class="end">2015-4-27</div>
                    <div class="line-time"></div>
                </div>
                <div class="col-md-1" style=''>
                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-record"></i></a></div> 
                </div>
                <div class="col-md-10 row content">
                    <div style="overflow:hidden;zoom:1">
                        <div class="imgDisplay col-md-4">
                            <img src="img/1.jpg" />
                            <p>Happiness depends not only on food and clothing, but also clear water and blue sky.</p>
                            <p class="thisTime">5月1日 15:30</p>
                        </div>
                        <div class="imgDisplay col-md-4">
                            <img src="img/2.jpg" />
                            <p>骑行纳帕海一路看到有烧烤野营放风筝踢足球的，还有艺术家！跑上去搭讪居然还是老乡！西安美院的！会画画的人简直太酷了！</p>
                            <p class="thisTime">4月30日 10:00</p>
                        </div>
                        <div class="imgDisplay col-md-4">
                            <img src="img/3.jpg" />
                            <p>风马藏地，以歌取暖。</p>
                            <p class="thisTime">4月29日 16:10</p>
                        </div>
                        <div class="col-md-12">
                            <p style="position:absolute"><strong>15记录</strong></p>
                            <p style="text-align:center"><a>查看详情</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
{% load staticfiles %}
<script src="{% static 'js/travels.js' %}"></script>
{% endblock %}